.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: hsl(116deg 67% 8%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-bottom-style: double;
    border-bottom-width: 8px;
    border-color: hsl(0deg 0% 100%);
    text-align: center;
    margin-bottom: 2%;    
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 28px;
    color: white;
    margin-top: 14%;
}

h2 {
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
