.article-card {
    border-color: hsl(240deg 100% 50%);
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: 40vw;
    height: 30vh;
}

/* .article-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.article-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms;
} */


.card-image {
    height: auto;
    width: 20vw;
}